* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h4{
    font-weight: normal;
    margin-top: 33px;
}

ul{
    list-style-type: none;
}
.header-container{
    display: flex;
    width: auto;
    height: 60px;
    background-color: #f80000;
    align-items: center;

}
.header{
    display: flex;
    padding: 20px;
    color:#ffffff;

}

.reciepts-container{
    display: flex;
    width: auto;
    height: auto;
    justify-content: space-around;
    align-items: center;
    background-color: #E5E5E5;
    padding: 33px;

}

.reciept{
    display: flex;
    width: 400px;
    border: 5px solid #E5E000;
    border-radius: 30px;
    flex-direction: column;
    padding: 33px;
}


.footer-container{
    display: flex;
    width: auto;
    height: 50px;
    background-color: #f80000;
    justify-content: left;
    align-items: center;
}

.copyright{
    display: flex;
    width: auto;
    height: auto;
    font-family: Helvetica;
    margin: 20px;
    color: #ffffff;
}